<div class="card equal-height">
    <header class="card-header">
        <p class="card-header-title">
            <span>{{title}} </span>
            <span class="product-tags is-pulled-right">
                {{#each tags}}
                <span class="tag is-{{color}}">{{title}}</span>
                {{/each}}
            </span>
        </p>
    </header>

    <div class="card-image">
        <figure class="image">
            <img src="{{img}}" alt="{{title}} image">
        </figure>
    </div>

    <div class="card-content has-text-left">
        <p class="subtitle is-6">{{description}}</p>
    </div>
    <footer class="card-footer">
        <a href="{{link}}" class="card-footer-item">Purchase</a>
    </footer>
</div>