<div class="card">
    <div class="card-content">
        <h3 class="title is-4">{{title}}</h3>
        <div class="content">
            {{#each skills}}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{name}}:</strong>
                            <br>
                            <progress class="progress is-{{#if color}}{{color}}{{else}}primary{{/if}}" value="{{value}}" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            {{/each}}
        </div>
    </div>
</div>